/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,400&family=Raleway:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400&family=Raleway:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;700&family=Roboto+Condensed:wght@400;800&display=swap');/*quote font-family: 'Jost', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
  height: auto;
  margin: 5px 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.navbar-logo img {
  max-width: 300px;
  max-height: 82px;
  /* Limit the maximum height of the logo */
  width: auto;
  height: auto;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.navbar-links a {
  text-decoration: none;
  font-size: medium;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 15px;
  margin-top: 20px;
  color: #333;
  /* border-bottom: 2px solid #34a853; */
}
.navbar-links a:hover {
  color: #34a853;
}
@media screen and (max-width: 1600px) {
  .navbar-links a {
    font-size: larger;
  }
}
@media screen and (max-width: 768px) {
  .navbar-logo {
    justify-content: center;
  }
  .navbar-links a {
    font-size: medium;
  }
}
@media screen and (max-width: 468px) {
  .navbar-links a {
    font-size: small;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  margin-top: 10px;
  padding: 10px; 
  background-image: url(/Assets/Gif.gif);
  background-position: right top;
  background-size:contain  ;
  background-repeat: no-repeat;
  
}

#head
{
  text-align: center;
  font-size: 100px;
  margin-top: 0%;
  margin-left: 30px;
  width: 100vw;
  animation: zoomInOut 8s ease-in-out infinite;
  
 
}
@keyframes zoomInOut{
  0%,100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.01);
  }
}

#about
{
  font-family: 'Raleway', sans-serif;
  
  text-align: center;
  font-size: 25px;
  width: 60%;
  color: #555;
  letter-spacing: 2px;
  
}


.text-container button{
  background-color:rgb(66,133,244); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.text-container button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 768px) {
  div.text-container p {
    font-size: medium;
  }
}                       

.highlights h1 {
  font-family: "Sofia";
  text-align: center;
  color: grey;
  margin-top: 1px;
}

div.scroll-container {
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap; /* Prevent wrapping of child elements */
  padding: 10px;
  height: 400px; /* Set the desired height */
  background-color: none; /* Add your preferred background color */
  display: flex; /* Use flexbox for horizontal arrangement */
}

div.scroll-container img {
  width: 600px; /* Adjust the width of each image as needed */
  height: 400px; /* Adjust the height of each image as needed */
  margin-right: 10px;
}

.upcomingevent{
  
}


.map{
  height: 300px;
  width: 100%;
}

.quotes{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
    column-gap: 100px;
   margin: 100px;
}
.quote{/*card*/
  width: auto;
  height: auto;
  
  /*background-blend-mode: overlay ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px;
  padding: 20px;
  flex-wrap: wrap;
  column-gap: 100px;
  animation: show 1s forwards;
  animation-timeline: view();
  
}

#quotehead {
  color: blueviolet; 
  font-family: 'Jost', sans-serif;
  font-size: 50px;
  text-align: center;
}
 #quotedesc{
  font-size: 42px;
  font-family: 'Jost', sans-serif;
  text-align: center;
  font-weight: 200;
}
@keyframes show {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

/*.quotes > *{
  display: inline;
  color: hsl(0 0% 100%/0.2) ;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(red,blue);
  animation: showquote linear forwards;
  animation-timeline: view();
}

@keyframes showquote{
  to{
    background-size: 100% 100%;
  }
}*/

/*---------event cards-----------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #eeee;
}
.wrapper{
  width:100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  height: 600px;
  display: flex;
  flex-wrap:nowrap;
  justify-content:start;

}

.card{
  width:80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.card > .row{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card >.row >.icon{
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card >.row >.description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 1;
  transform: translateY(10px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description button{
  background: none;
  border: none;
  font-size: 26px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.description p{
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4{
  text-transform: uppercase;

}

input:checked+label{
  width: 600px;
}
input:checked+label+.description{
  opacity: 1 !important;
  transform: translateX(0) !important;

}

.card[for="c1"]{
  background-image: url(/Assets/img/Events/ZoologyAi.jpg);
  background-size: contain;
}
.card[for="c2"]{
  background-image: url(/Assets/img/Events/digitalmarketing.jpg);
}
.card[for="c3"]{
  background-image: url(/Assets/img/Events/cloud.jpg);
}
.card[for="c4"]{
  background-image: url(/Assets/img/Events/flutter.jpg);
}