/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,400&family=Raleway:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400&family=Raleway:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');/*quote 1 font-family: 'Roboto Condensed', sans-serif;*/

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
  height: auto;
  margin: 5px 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.navbar-logo img {
  max-width: 300px;
  max-height: 82px;
  /* Limit the maximum height of the logo */
  width: auto;
  height: auto;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.navbar-links a {
  text-decoration: none;
  font-size: medium;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 15px;
  margin-top: 20px;
  color: #333;
  /* border-bottom: 2px solid #34a853; */
}
.navbar-links a:hover {
  color: #34a853;
}
@media screen and (max-width: 1600px) {
  .navbar-links a {
    font-size: larger;
  }
}
@media screen and (max-width: 768px) {
  .navbar-logo {
    justify-content: center;
  }
  .navbar-links a {
    font-size: medium;
  }
}
@media screen and (max-width: 468px) {
  .navbar-links a {
    font-size: small;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  margin-top: 10px;
  padding: 10px; 
  background-image: url(/Assets/Gif.gif);
  background-size: cover   ;
  background-repeat: no-repeat;
}

#head
{
  text-align: center;
  font-size: 100px;
  margin-top: 0%;
  margin-left: 30px;
  width: 100vw;
  animation: zoomInOut 8s ease-in-out infinite;
  
 
}
@keyframes zoomInOut{
  0%,100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.01);
  }
}

#about
{
  font-family: 'Raleway', sans-serif;
  
  text-align: center;
  font-size: 25px;
  width: 60%;
  color: #555;
  letter-spacing: 2px;
  
}


.text-container button{
  background-color:rgb(66,133,244); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.text-container button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 768px) {
  div.text-container p {
    font-size: medium;
  }
}                       

.highlights h1 {
  font-family: "Sofia";
  text-align: center;
  color: grey;
  margin-top: 1px;
}

div.scroll-container {
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap; /* Prevent wrapping of child elements */
  padding: 10px;
  height: 400px; /* Set the desired height */
  background-color: none; /* Add your preferred background color */
  display: flex; /* Use flexbox for horizontal arrangement */
}

div.scroll-container img {
  width: 600px; /* Adjust the width of each image as needed */
  height: 400px; /* Adjust the height of each image as needed */
  margin-right: 10px;
}

.upcomingevent{
  
}

/*---------------------*/
.recentevents #mainhead{
  text-align: center;
  color: beige;
  font-family: 'Open Sans', sans-serif;
}
.recentevents * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.recentevents body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

.recentevents img {
  display: block;
  max-width: 100%;
  height: auto;
}

.recentevents {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  /*background-color: #34a853;*/
  
}

.card_container {
  display: grid;
  row-gap: 3.5rem;
}

.card_article {
  position: relative;
  overflow: hidden;
}

.card_img {
  width: 328px;
  border-radius: 1.5rem;
}

.card_data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card_description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card_title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card_button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card_button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card_article:hover .card_data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card_article:hover {
  animation: remove-overflow 2s forwards;
}

.card_article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .recentevents {
    margin-inline: 1rem;
  }

  .card_data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .recentevents {
    height: 100vh;
  }

  .card_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card_img {
    width: 348px;
  }
  .card_data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

.map{
  height: 300px;
  width: 100%;
}

.quotes{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
    column-gap: 100px;
 
}
.quote{/*card*/
  width: 200px;
  height: 200px;
  background-color:rgba(213, 207, 117, 0.2);
  background-blend-mode: overlay ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  flex-wrap: wrap;
  column-gap: 100px;

}
